@charset "UTF-8";
/* Mobile first */

* {
    /* Configuração geral */
    margin: 0px;
    padding: 0px;
    font-family: "Quattrocento", Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-style: normal;
}

body,
html {
    height: 100%;
    width: 100%;

}

main {

    margin: auto;

}

header {
    background-color: #297CB4;
    width: auto;
    padding: 20px;
    color: white;

}

/* Configuração header */

header>h1 {
    text-align: center;


}

#img01 {
    /* Configuração imagem principal */

    background: url(../imagens/sistemadegestao.jpg) center center no-repeat fixed;
    background-size: cover;
    height: 400px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

section>h1,
p {
    text-align: justify !;
    padding-left: 15px;
    color: white;
    margin: 20px 0px;
    font-weight: lighter;
}

section>h1 {
    font-size: 2em;
}

.paragrafo {
    text-align: center;
    text-align: justify;
    color: white;
    max-width: 600px;
}
#paragrafo{
    text-align: justify;
}

h2 {
    text-align: center;
    margin: 30px;
    display: block;
}

p {
    margin: 20px 30px;
    text-align: center;
    height: auto;
    font-size: 1.2em;
    line-height: 1.5em;
    color: black;
}

/* Configuração do conteiner- sobre nós*/

.conteiner-sobrenos>section {
    background-color: white;

}

section.img02 {
    background-color: white;
    text-align: center;

}

section.img02>img {
    width: 60%;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: #00000062 2px 5px 5px;
}

/* Configuração conteiner tipos de serviços */
#conteiner-servicos {
    background-color: lightgrey;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: width 5s, height 5s;
}

#conteiner-servicos>h2 {
    width: 100%;
    text-align: center;
}

/* Configuração dos itens  */

div.itens {
    margin-top: 20px;


}

div.itens>img {

    height: 200px;
    width: 300px;
    margin-bottom: 10px;
    border-radius: 10px;
    box-shadow: #00000062 2px 5px 5px;

}

.itens>p,
.solicite>p {
    width: 250px;
    text-align: justify;
    padding: 0px;

}

.paragrafo-projetos {
    margin-bottom: 40px;

}

/* Configuração butão enviar  */

div.solicite>a#enviar {
    background-color: #297CB4;
    color: white;
    padding: 15px;
    font-size: 1em;
    display: flex;
    float: center;
    text-decoration: none;
    border-radius: 10px;
    margin: 5px 20px;
}

div.solicite>.paragrafo-solicite {
    margin-bottom: -5px;
}

div.solicite>a#enviar:hover {
    transform: rotatex(360deg);
    transition: .5s;
    background-color: #3caefa;

}

/* Configuração do carrossel de imagens */

.carrossel {
    display: block;
    margin: auto;
    width: 100%;
    max-width: 600px;
    overflow: hidden;
    border-radius: 10px;

}

.slides {
    display: flex;
    width: 100%;
    animation: slide 20s infinite;
}

.slide {

    width: 100%;
    flex-shrink: 0;
    margin: 10px 0px;
}

.slide img {
    display: block;
    margin: auto;
    width: 60vh;
    border-radius: 10px;
}

@keyframes slide {
    0% {
        transform: translateX(0%);
    }

    20% {
        transform: translateX(0%);
    }

    25% {
        transform: translateX(-100%);
    }

    45% {
        transform: translateX(-100%);
    }

    50% {
        transform: translateX(-200%);
    }

    70% {
        transform: translateX(-200%);
    }

    75% {
        transform: translateX(-300%);
    }

    95% {
        transform: translateX(-300%);
    }

    100% {
        transform: translateX(0%);
    }
}

/* Configuração da localização */

.localizacao {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

/* Configuração rodapé */
footer {
    background-color: #297CB4;
    padding: 10px;

}

footer>a {
    margin: 0px;
    color: white;
}

footer>a {
    float: right;
    margin: 0px 10px;

}

footer>p {
    margin: auto;
    text-align: center;

}

footer>p,
a {
    color: white;
    font-size: .9em;

}

footer>a:hover {
    transform: translatey(-5px);
}